@import url("https://use.typekit.net/jfm1xex.css");

@font-face {
  font-family: garmentdistrict;
  src: url("../fonts/garmentdistrict.otf");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  width: 100%;
  height: 700px;
  background-image: url('../img/header.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  width: 95%;
  margin: 10 auto;
}

header {
  width: 100%;
  height: 100px;
  background-color: rgba(255,255,255,0);
  z-index: 10;
}

.logo {
  width: 30%;
  float: left;
  line-height: 100px;
}

.logo a{
  text-decoration: none;
  font-size: 45px;
  font-family: "garmentdistrict", sans-serif;
  color: #FDE1D7;
}

.logo:hover {
  text-shadow: 4px 4px #151212;
  transition: 0.2s ease-out;
}

nav {
  float: right;
  line-height: 100px;
}

nav a {
  text-decoration: none;
  font-family: "Arboria", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0 10px;
  color: #FFF;
}

nav a:hover {
  opacity: 0.5;
  transition: 0.2s ease-out;
}

.banner-area h1 {
  padding-top: -2%;
  font-size: 40px;
  font-family: "Arboria", serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.banner-area h2 {
  padding-top: 25%;
  font-size: 40px;
  font-family: "Arboria", serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.btn {
  margin-top: 40px;
  display: inline-block;
  background-color: #EF6351;
  width: 150px;
  font-family: "Arboria", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn:hover, .btn:active {
  background-color: #FDE1D7;
  color: #000;
  transition: all 0.3s ease-in, color 0.3s ease-in;
}

.content-area {
  position: relative;
  top: 250px;
  background: #FFF;
  width: 100%;
  height: 500px;
  display: flex;
}

.splitleft {
  position: relative;
  top: 0px;
  background: #FFF;
  width: 50%;
  height: 500px;
}

.splitleft h1 {
    width: 50%;
    font-size: 40px;
    padding-top: 50px;
    font-family: "Arboria", sans-serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 3px;
    color: #6A1D0F;
    text-align: left;
    margin-left: 40%;
    text-shadow: 2px 2px #CE9489;

}

.splitleft p {
  margin-top: 15px;
  font-family: "Arboria", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #6A1D0F;
  word-wrap: break-word;
  text-align: left;
  margin-left: 40%;
  line-height: 1.5;
}

.btn2 {
  margin-top: 6px;
  display: inline-block;
  background-color: #EF6351;
  width: 150px;
  font-family: "Arboria", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  padding: 6px;
  border: none;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
}

.splitright {
  flex: 1;
  position: relative;
  background: #FFF;
  width: 50%;
  height: 500px;
}

.blob {
  margin-top: 10%;
  margin-right: 40%;
  position: relative;
}

.donuticon {
  margin-top: 0%;
  right: 340px;
  position: absolute;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.donuticon:hover {
  animation-name: spin;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
