@import url("https://use.typekit.net/jfm1xex.css");

@font-face {
  font-family: garmentdistrict;
  src: url("../fonts/garmentdistrict.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  width: 100%;
  background-color: #F5F1EE;
}

.wrapper {
  width: 95%;
  margin: 10 auto;
}

header {
  width: 100%;
  height: 100px;
  background-color: rgba(255,255,255,0);
  z-index: 10;
}

.logo {
  width: 30%;
  float: left;
  line-height: 100px;
}

.logo a{
  text-decoration: none;
  font-size: 45px;
  font-family: "garmentdistrict", sans-serif;
  color: #6A1D0F;
}

.logo:hover {
  text-shadow: 4px 4px #CE9489;
  transition: 0.2s ease-out;
}

nav {
  float: right;
  line-height: 100px;
}

nav a {
  text-decoration: none;
  font-family: "Arboria", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0 10px;
  color: #6A1D0F;
}

nav a:hover {
  opacity: 0.5;
  transition: 0.2s ease-out;
}

/* actual content */

.content-area {
  position: relative;
  top: 0px;
  background: #FFF;
  width: 100%;
  display: flex;
}

.splitleft {
  position: relative;
  top: 0px;
  background: #FFF;
  width: 50%;
  height: 1700px;
}

.splitleft h1 {
    width: 50%;
    font-size: 40px;
    font-family: "Arboria", sans-serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    color: #6A1D0F;
    padding-top: 7%;
    margin-left: 22%;
    text-shadow: 2px 2px #CE9489;
}

.splitleft h3 {
  width: 90%;
  font-family: "Arboria", sans-serif;
  font-weight: 300;
  font-size: 14px;
  opacity: 70%;
  margin-top: 10px;
  margin-bottom: 580px;
}

/* Right side w/ picture */

.splitright {
  flex: 1;
  position: relative;
  background: #FFF;
  width: 50%;
  height: 700px;
  background-image: url('../img/menuimage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* left side menu */

.centered {
  position: absolute;
  top: 23%;
  left: 40%;
  text-align: left;
  transform: translate(-50%, -50%);
  margin: 10px;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

/* regular donuts */

ul.nobullet {
  list-style-type: none;
  padding: 0;
  margin-top: -25%;
}

li.regular {
  background: url('../img/donutty.png') no-repeat left top;
  height: 60px;
  padding-left: 47px;
  padding-top: 8px;
  font-family: "Arboria", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin-left: 100px;
  color: #6A1D0F;

}

/* fancy donuts */

.splitleft h2 {
    width: 50%;
    font-size: 40px;
    font-family: "Arboria", sans-serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    color: #6A1D0F;
    padding-top: 50px;
    text-shadow: 2px 2px #CE9489;
}

ul.second {
  list-style-type: none;
  margin-top: 1310px;
  padding: 0;
}

li.fancy {
  background: url('../img/specialdonut.png') no-repeat left top;
  height: 60px;
  padding-left: 47px;
  padding-top: 8px;
  font-family: "Arboria", sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #6A1D0F;

}

/* coffee and drinks */
.splitright h1 {
    width: 50%;
    font-size: 40px;
    font-family: "Arboria", sans-serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    color: #6A1D0F;
    padding-top: 105%;
    margin-left: 24%;
    text-shadow: 2px 2px #CE9489;
}

ul.third {
  list-style-type: none;
  margin-top: 2155px;
  padding-left: 10px;
}

li.drinks {
  background: url('../img/coffeecup.png') no-repeat left top;
  height: 60px;
  margin-left: 50px;
  padding-left: 47px;
  padding-top: 8px;
  font-family: "Arboria", sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #6A1D0F;
}
